<?xml version="1.0"?>

<configuration>

    <connectionStrings>

      <add
          name="AULA"
          connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Coti\Desktop\Aula_14.12.13\Aula09\Site\App_Data\Banco.mdf;Integrated Security=True"
        />
    
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
